*-----Geral-----*/
*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: Cubos;
    src: url(../fonts/Cubos.woff);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand_Book.woff);
}

/*-----Footer-----*/
.Footer{
    height: 110px;
    background-color: #86B9B0; 
    font-family: Quicksand;
    font-size: 20px;
    padding: 20px;
}

.Footer ul{
    list-style: none;
    display: block;
    margin-bottom: 50px;
}

.Footer ul li{
    float: left;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}